* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* --- Acessibilidade --- */
@media (max-width: 1080px) {
	html {
		font-size: 93.75%; /* 15px */
	}
}

@media (max-width: 720px) {
	html {
		font-size: 87.5%; /* 14px */
	}

	main #form #first-form-section {

		div input {
			padding: 0.5rem 2rem;
		}
	}

	main #form #second-form-section {
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.first-column {
			margin-bottom: 2rem;
		}

		.second-column {
			margin-bottom: 2rem;
		}
	}
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

button {
	cursor: pointer;
}

input {
	border: 0;
}

/* --- Conteúdo --- */

body {
	font-family: 'Roboto', sans-serif;
	background-color: #0f1419;
}

main {
	max-width: 1600px;
	margin: 0 auto;

	section h1 {
		width: 100%;

		background-color: #0a0e14;
		color: whitesmoke;
		text-align: center;

		padding-bottom: 6.875rem;
		padding-top: 55px;

		i {
			color: #39bae6;
		}

		p {
			font-size: 0.865rem;
			font-weight: normal;
			color: lightgrey;

			margin-top: 0.865rem;

			a {
				text-decoration: none;
				color: #39bae6;

				transition: filter 0.8s;

				&:hover {
					filter: brightness(0.8);
				}
			}
		}
	}

	#form {
		margin-top: -27px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/* --- Search --- */
main #form #first-form-section {
	display: flex;
	align-items: center;

	div input {
		padding: 1rem 4rem;
		border-radius: 2rem 0 0 2rem;
	}

	button {
		padding: 1rem 2rem;
		border: 0;
		border-radius: 0 2rem 2rem 0;
		background: #39bae6;

		transition: filter 0.8s;

		&:hover {
			filter: brightness(0.8);
			color: white;
		}
	}
}

/* --- Endereço --- */
main #form #second-form-section {
	margin-top: 55px;
	width: 100%;

	display: flex;
	justify-content: space-evenly;

	input {
		padding: 1rem 2rem;

		&:hover {
			cursor: auto;
		}

		&::placeholder {
			color: whitesmoke;
		}
	}

	/* --- Endereço primeira coluna --- */
	.first-column {
		display: flex;
		flex-direction: column;
		justify-content: center;

		background-color: #0a0e14;
		padding: 2rem;
		border-radius: 1rem;

		 input {
			border-radius: 0.5rem;
			margin-top: 1rem;
			margin-bottom: 1rem;
			background: #0f1419;

			color: white !important;
		}
	}

	/* --- Endereço segunda coluna --- */
	.second-column {
		display: flex;
		flex-direction: column;
		justify-content: center;

		background-color: #0a0e14;
		padding: 1rem 2rem;
		border-radius: 1rem;

		input {
			border-radius: 0.5rem;
			margin-top: 1rem;
			margin-bottom: 1rem;
			background: #0f1419;

			color: white !important;
		}
	}
}